/* CSS Style Sheet */

body {
  font-family: sans-serif;
  font-size: 1.1em;
  background-color: rgb(238, 235, 232);
}

.center {
  text-align: center;
}

.comp2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 25px;
}

.comp {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 25px;
}

.navbar-light .navbar-brand {
  color: white;
}

h2 {
  background-color: white;
  margin-left: auto;
}

h3 {
  font-size: medium;
  text-align: center;
}

p {
  margin-right: 30px;
  margin-left: 30px;
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 10px;
}

.navbar-brand {
  font-family: 'arial', Times, serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(20, 102, 150);
  padding: 10px;
  margin-left: 5%;
}

.navbar-collapse {
  position: absolute;
  right: 5%;
  font-size: small;
}

.nav-item {
  font-weight: bold;
}

.dropdown-item {
  font-family: 'arial';
  font-size: 13px;
}

.w-100 {
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width:90%;
  margin: 20px auto;
  padding:1em;
}
  
.buttons {
  margin-bottom: .5em;
}

.text-left {
  text-align: left;
  color: rgb(20, 150, 150);
  font-family: 'Arial', Times, serif;
  font-weight: bolder;
}

.text-center {
  color: rgb(20, 150, 150);
  font-family: 'Arial', Times, serif;
  font-weight: bolder;
}

p:not(.intro) {
  text-align: justify;
  color: #7e7e7e;
}

.col {
  width: 50%;
}

table {
  font-size: small;
}

